.dayreportform-input ,#submitDay-datepicker
{
	width: 150px;  
    margin-right: 6px;  
}

#advicereporttable-code,#advicereporttable-customer,#advicereporttable-manager_name
{
	width: 120px;
    margin-right: 6px;
}


#reportmain_content{
	    width: 100%;
}
#advicereporttable-title{
	width: 500px; margin-right: 6px;
}
